<!DOCTYPE html>
<html>
  <head>
    <title></title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>
  <body>
    <% if (user) {%>
    <h1>Welcome <%= user.username %></h1>
    <ul>
      <% list_messages.forEach(function(message) { %>
      <li>
        <p>title:<%= message.title %></p>
        <p>content:<%= message.content %></p>
        Author: <%= undefined === message.author ? 'No author' :
        message.author.fullname %> <% if (user.membership == 'admin') { %>
        <button>Edit</button>
        <button>Remove</button>
        <% } %>
      </li>
      <% }); %>
    </ul>
    <a href="/create-message">Create a message</a>
    <a href="/log-out">Log out</a>
    <% } else { %>
    <h1>Welcome to Members Only Application</h1>
    <ul>
      <% list_messages.forEach(function(message) { %>
      <li>Title: <%= message.title %> Content: <%= message.content %>A</li>
      <% }); %>
    </ul>
    <a href="/log-in">Log in</a>
    <a href="/sign-up">Sign up</a>
    <%}%>
  </body>
</html>
